<div class="container">
	<div class="row">
		<h4>注文詳細</h4>
		<div class="card">
		  <ul class="list-group list-group-flush">
  			<li class="list-group-item">
  				<%= f.label :order_status %><br>
  				<%= f.select :order_status, Order.order_status.keys.map {|k| [k, k]} %>
  			</li>
		    <li class="list-group-item"><%= @order.order_status %></li>
		    <li class="list-group-item"><%= @order.id %></li>
		    <li class="list-group-item"><%= @order.last_name %><%= @order.first_name %></li>
		    <li class="list-group-item"><%= @order.created_at %></li>
		    <li class="list-group-item">
		    	<table class="table">
  					<thead>
					    <tr>
						    <th scope="col">購入商品名</th>
						    <th scope="col">枚数</th>
						    <th scope="col">価格</th>
					    </tr>
					</thead>
					<tbody>
						<% orders.each do |order| %>
						    <tr>
							    <td><%= order.item_disk_name %></td>
							    <td><%= order.order_detail.quantity %></td>
							    <td><%= order.item.price.to_i*order.order_detail.quantity.to_i %>円</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</li>
		    <li class="list-group-item">送料　500円</li>
		    <li class="list-group-item">合計<%= @order.total.price%>円</li>
		    <li class="list-group-item">配送先<%= @order.shipping_address.address %></li>
		    <li class="list-group-item">支払い方法<%=@order.order_detail.order.payment %></li>
		  </ul>
		</div>
	</div>
</div>