<div class="container">
	<div class="row">

		<table class="table table-striped">
     <thead>
      <tr>
            <th><h4 class="glyphicon glyphicon-user , text-muted"> アカウント情報</h4></th>
            <th></th>
      </tr>


      <tbody>
    　　<tr>
     　　　 <th><h4>・名前(姓/名)</h4></th>
     　　　 <th><h4><%= @user.last_name %>  <%= @user.first_name %></h4></th>
    　　</tr>

   　　 <tr>
     　     <th><h4>・Eメール</h4></th>
      　　　<th><h4><%= @user.email %></h4></th>
    　　</tr>

  　　  <tr>
    　　　  <th><h4>・住所</h4></th>
    　　　  <th><h4><%= @user.address %></h4></th>
   　　 </tr>
      </tbody>
    </table>
             
             <div style="text-align:center;">
                <div class="edit-link" style="margin-bottom: 40px;">
                    <%= link_to "編集", edit_user_path(@user),class:"btn btn-warning glyphicon glyphicon-wrench", :style=>"width: 200px;" %>
                </div>
            </div>


            <% if @user.order_details.exists? %>
                <table class="table table-sm">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">商品</th>
                          <th scope="col">合計金額</th>
                          <th scope="col">注文日</th>
                          <th scope="col">送付先</th>
                          <th scope="col">支払い方法</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.order_details.each do |od| %>
                            <tr>
                              <th scope="row"><%= od.order_id %></th>
                              <td><%= od.item.disk_name %></td>
                              <td><%= od.order.total_price %></td>
                              <td><%= link_to od.created_at, order_path(id: od.order_id) %></td>
                              <td><%= od.order.shipping_address %></td>
                              <td><%= od.order.payment%></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
    	</div>
	</div>
</div>

