<div class="nested-fields" style="background-color: #ffdab9;width: 200px;">
  <div class="field">
    <h4>diskname</h4>
    <%= f.text_field :disk_name %>
  </div>

<div>
   <%= f.fields_for :songs do |song| %>
    <%= render 'song_fields', f: song %>
   <% end %>

   <%= link_to_add_association '曲を追加', f, :songs %>
</div>

<div>
  <%= link_to_remove_association "remove disk", f %>
</div>
</div>