<h3>購入情報確認</h3>

<%= form_for(@order , url: orders_commit_path) do |f| %>

<h4> 送付先</h4>
<%= f.hidden_field :shipping_address %>
<%= @order.shipping_address %>

<h4> 支払い方法</h4>
<%= f.hidden_field :payment %>
<%= @order.payment %>

<!-- order_detail -->
<%= f.fields_for :order_details do |od| %>
	<%= od.hidden_field :quantity, :value => @cart_detail[od.index].quantity %>
	<%= od.hidden_field :user_id, :value => @cart_detail[od.index].user_id %>
   	<%= od.hidden_field :item_id, :value => @cart_detail[od.index].item_id %>
<% end %>


<div>
  <%= f.submit %>
<% end %>