<div style="text-align:center;">
<h3><b>購入情報確認</b></h3>

<%= form_for(@order , url: orders_commit_path) do |f| %>

<h5>◾️ 送付先</h5>
<%= f.hidden_field :shipping_address %>
<%= @order.shipping_address %>

<h5>◾️ 支払い方法</h5>
<%= f.hidden_field :payment %>
<%= @order.payment %>

	<!-- order_detail -->
	<%= f.fields_for :order_details do |od| %>
		<%= od.hidden_field :quantity %>
		<%= od.hidden_field :user_id %>
	   	<%= od.hidden_field :item_id %>
	<% end %>

 <h5>◾️　購入内容</h5>
   <table class="table" style="width: 50%; margin: 0 auto; border-style:solid ; border-width:1px ;">
		<thead>
			<tr>
			   <th style="text-align: center;">購入商品</th>
			   <th style="text-align: center;">枚数</th>
			   <th style="text-align: center;">価格</th>
			   <th style="text-align: center;">小計</th>
			</tr>
	    </thead>

        <tbody>
	      <% @cart_detail.each do |cart_detail| %>
			<tr>
			   <td>
			    <%= cart_detail.item.disk_name %></td>
			   <td>
			    <%= cart_detail.quantity %></td>
			   <td>
			    <%= cart_detail.item.price %></td>
			   <td>
			    <%= cart_detail.quantity * cart_detail.item.price %></td>
			</tr>
	      <% end %>
	    </tbody>
   </table>

   <br>

	<p>送料　¥500</p>


    <div>
        <%= f.submit '注文を確定する', class:"btn btn-danger glyphicon glyphicon-wrench", :style=>"width: 200px;" %>
    </div>
<% end %>
</div>