<div class="container">
	<div class="row">
		<h4>購入履歴詳細（注文日：<%= @order.created_at %>）</h4>
		<div class="card">
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<table class="table">
  					<thead>
					    <tr>
						    <th scope="col">購入商品名</th>
						    <th scope="col">枚数</th>
						    <th scope="col">価格</th>
						    <th scope="col">小計</th>
					    </tr>
					</thead>
					<tbody>
						<% @order.order_details.each do |order| %>
						    <tr>
						    	<% sum = 0 %>
							    <td><%= order.item.disk_name %></td>
							    <td><%= order.quantity %>枚</td>
							    <td><%= order.item.price %>円</td>
							    <% sub_total = order.item.price.to_i * order.quantity.to_i %>
							    <% sum += sub_total %>
							    <td><%= sub_total %>円</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</li> 
			<div class="order-info" style="text-align: center;">
	   		    <li class="list-group-item">合計　　<%= @order.total_price %>円（税込）</li>
			    <li class="list-group-item">配送先　　<%= @order.shipping_address %></li>
			    <li class="list-group-item">支払い方法　　<%=@order.payment %></li>
			    <li class="list-group-item">受注状況　　<%= @order.order_status %></li>
			</div>
		  </ul>
		</div>
	</div>
</div>

