<div class="container">
	<div class="row">
		<div class="user_info table-responsive col-md-4 col-xs-4">
            <table class="table">
                <thead>
                    <div>
                        <tr>
                            <th><%= @user.last_name %>/<%= @user.first_name %><br>
                                <%= @user.last_name_kana %>/<%= @user.first_name %>
                            </th>
                            <th>
                                <div style="float: right;">
                                    <%= link_to "編集", edit_admin_user_path,class:"btn btn-warning " %>
                                </div>
                            </th>
                        </tr>
                    </div>
                </thead>
                <tbody>
                    <tr>
                      <th>・アドレス</th>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                      <th>・電話番号</th>
                      <td><%= @user.phone_number%></td>
                    </tr>
                    <tr>
                      <th>・郵便番号/住所</th>
                      <td>〒<%= @user.zip_code %>/<%= @user.address %></td>
                    </tr>
                    <tr>
                      <th>・登録日</th>
                      <td><%= @user.created_at %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="order col-md-6 col-xs-6">
                <table class="table">
                    <thead>
                            <tr>
                                <th>注文履歴</th>
                                <th>配送先</th>
                            </tr>
                    </thead>
                    <tbody>
                        <% @order.each do |order| %>
                            <tr>
                                <td><%= link_to order.created_at, admin_order_path(order.id) %></td>
                                <td><%= order.shipping_address %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>