<body>
	<div class="container">
		<div class="row">
			<div class="recommend">
				<h4 class="p-3 mb-2 bg-primary text-white" style="width: 145px; padding: 20px; text-align: center;">Recommend</h4>
			</div>
			<div class="items" style="text-align: center; margin-left: 20px;">
      			<% @items.each do |item| %>
        			<ul class="list-group col-lg-3" style="width: 230px;">
						<li class="list-group-item"><%= attachment_image_tag item, :image, :fill, 180, 180, size: '180x180' %></li>
						<li class="list-group-item"><%= item.disk_name %></li>
						<li class="list-group-item"><%= item.artist.artist_name %></li>
						<li class="list-group-item"><%= item.price %>円（税込）</li>
						<li class="list-group-item"><%= link_to "詳細", item_path(item.id) %></li>
					</ul>
        		<% end %>
        	</div>
		</div>
	</div>
</body>

