<<<<<<< HEAD

<div class="container">
  <div class="row" >
    <div class="search-result-title">
      <h4>検索結果一覧</h4>
    </div>

    <div class="list-group card" style="width: 18rem">
      <% @items.each do |item| %>
        <div class="card-img-top">
          <%= attachment_image_tag item, :disk_image, :fill, 180, 180, fallback: "no_image.png", size: '180x180' %>
        </div>
        <%= link_to(item, class: 'list-group-item') do %>
          <ul class="list-group list-group-flush" >
             <h4 class="card-link list-group-item title">
              <%= item.disk_name %>
            </h4>
            <p class="card-link list-group-item artist">
              <%= item.artist_name%>
            </p>
            <p class="card-link list-group-item label">
              <%= item.label_name%>
            </p>
            <div class="card-link list-group-item" style="color: white; background-color: blue;">
              <%= link_to "詳細", item_path %>
            </div>
          </ul>
        <% end %>
      <% end %>
    </div>

    <%= paginate @items %>

  </div>
</div>

=======
<% if @result %>
<%= render partial: 'layouts/search_form', collection: @result %>
<% else %>
<%= render 'index' %>
<% end %>
>>>>>>> aki/master
