<body>
<div class="container">

      <h1><%= @item.artist.artist_name %>/<%= @item.disk_name %></h1>

      <p class="bg-info text-left">✾商品詳細</p>

      <div class="row">
       <div class="mx-auto">
        <div class="col-xs-4 col-xs-offset-2">
         <%= attachment_image_tag @item, :image, class: "profile-thumb", fallback: "no_img.png", size: "240x240" %>
        </div>

        <div class="col-xs-4">
         <p>レーベル：<%= @item.label.label_name %></p>
         <p>ジャンル：<%= @item.category.category_name %></p>
         <p>価格：<%= @item.price %></p>
           <!-- 販売ステータスの表示 -->
           <%= @item.item_status %>

           <!-- 個数選択ボックス -->
           <%= form_for @cart do |t| %>
           	   <%= t.hidden_field :item_id, :value => @item.id %>
	           <%= t.select :quantity, @current_stock %>個
	           <%= t.submit "カートに追加", class: "btn btn-danger" %>
	        <% end %>
        </div>
       </div>
      </div>

      <p class="bg-info text-left">✾収録内容</p>
      <% @item.disks.each do |disk| %>
         <p><b><%= disk.disk_name %></b></p>

	      <% disk.songs.each do |song| %>
	     <p><%= song.truck_number %>
	         <%= song.song_name %>
	     </p>

	      <% end %>
      <% end %>

      <!-- レビューの表示 -->
      <p class="bg-info text-left">✾商品レビュー</p>
        <table class="table">
           <thead>
             <tr> 
               <th>name</th>
               <th>date</th>
               <th>comment</th>
             </tr>
           </thead>

           <tbody>
               <% @reviews.each do |review| %>
             <tr>
               <th><%= review.user.last_name %></th>
               <th><%= review.created_at.strftime('%Y/%m/%d') %></th>
               <th><%= review.review_comment %></th>
               <th><% if review.user == current_user %>
               	   <%= link_to "削除", item_review_path(id: review,item_id: @item), method: :delete, "data-confirm" => "本当に消しますか？" %>
               	   <% end %>
               </th>
             </tr>
               <% end %>
           </tbody>
        </table>

       <!-- レビューの投稿フォーム -->
       <%= form_for([@item, @review]) do |f| %>

       <%= f.text_field :review_comment %>

       <%= f.submit '投稿する' %>

       <% end %>

</div>
</body>