<h3>商品レビュー</h3>
<table class="table">
           <thead>
           <tr> 
             <th>comment</th>
           </tr>
           </thead>

           <tbody>
           <% @reviews.each do |review| %>
           <tr>
             <th><%= review.user.last_name %></th>
             <th><%= review.created_at.strftime('%Y/%m/%d') %></th>
             <th><%= review.review_comment %></th>
             <th><%= link_to "削除",review_path, method: :delete, "data-confirm" => "本当に消しますか？" %></th>
           </tr>
           <% end %>
           </tbody>
</table>

       <%= form_for(@review, :url => {:controller => :reviews, :action => :create}) do |f| %>

       <%= f.text_field :review_comment %>

       <%= f.hidden_field :item_id %>
 
       <%= f.submit '投稿する' %>

    <% end %>