<div class="container">
  <div class="row" >
    <div class="search-result-title">
      <h4>検索結果一覧</h4>
    </div>

    <div class="list-group card" style="width: 18rem; float: left;">
      <% @result.each do |item| %>
        <div class="card-img-top">

          <%= attachment_image_tag item, :image, :fill, 180, 180, fallback: "no_img.png", size: '180x180' %>
        </div>
        <ul class="list-group list-group-flush">
          <p class="card-link list-group-item">
            <%= item.disk_name %>
          </p>
          <p class="card-link list-group-item artist">
            <%= item.artist.artist_name %>
          </p>
          <p class="card-link list-group-item label">
            <%= item.label.label_name %>
          </p>
          <% if admin_signed_in? %>
            <%= link_to "詳細", admin_item_path(item.id) %>
          <% else %>
            <%= link_to "詳細", item_path(item.id) %>
          <% end %>
        </ul>
      <% end %>
    </div>

  </div>
</div>