<!DOCTYPE html>
<html>
  <head>
    <title>俺のCD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <div class="container">
        <div class="row">
          <div class="header-title col-lg-4">
            <h1>俺のCD</h1>
          </div>
          <div class="header-contents col-lg-8">
            <nav class="header-nav">
              <ul>
                <li>Sign Up</li>
                <li>Login</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>


      <%= yield %>


    <footer class="container">
      <div class="row">
        <div class="footer-title col-lg-6">
          <h3>俺のCD</h3>
        </div>
        <div class="footer-store-info col-lg-6">
          <p>店舗情報</p><br>
          <p>0773-22-3456</p><br>
          <p>〒390-1243 長野県松本市神林5300</p><br>
          <p>Open 7days 10AM-7PM</p>
        </div>
      </div>
    </footer>
  </body>
</html>

