<!DOCTYPE html>
<html>
  <head>
    <title>俺のCD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="jQuery.js"></script>
    <script src="skippr.min.js"></script>

  </head>

  <body>
    <header class="clearfix">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="page-header">
                <div class="col-sm-4">
                  <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>

                 <div class="navbar-brand">
                  <% if admin_signed_in? %>
                    <%= link_to admin_path do %>
                    <%= image_tag 'logo.png', size:'120x80' %>
                    <% end %>
                  <% else %>
                    <a href="/"><%= image_tag 'logo.png', size:'120x80' %></a>
                  <% end %>
                 </div>
                </div>

              <div class="clearfix col-sm-8">
               <div class="collapse navbar-collapse"  id="navbarEexample8">
                <div class="navbar-right">
                  <% if user_signed_in? %>
                    <ul class="nav navbar-nav" style="margin-top:5px;">
                     <li><%= link_to current_user.last_name, user_path(current_user.id), class: "glyphicon glyphicon-user , text-muted" %></li>
                     <li><%= link_to "_Cart", "/cart_details", class: "glyphicon glyphicon-shopping-cart , text-muted" %></li>
                     <li><%= link_to "_Sign out", destroy_user_session_path, :method => :delete, class: "glyphicon glyphicon-log-out , text-muted" %></li>
                    </ul>
                  <% elsif admin_signed_in? %>
                    <ul class="nav navbar-nav" style="margin-top:5px;">
                     <li><%= link_to "_Sign out", destroy_admin_session_path, :method => :delete, class: "glyphicon glyphicon-log-out , text-muted" %></li>
                    </ul>
                  <% else %>
                    <ul class="nav navbar-nav" style="margin-top:5px;">
                      <li><%=link_to "_Sign Up", new_user_registration_path, class: "glyphicon glyphicon-log-in , text-muted" %></li>
                      <li><%=link_to "_Log In", new_user_session_path, class: "glyphicon glyphicon-home , text-muted" %></li>
                    </ul>
                  <% end %>

                   <ul class="nav navbar-nav" style="margin-top:5px;">
                     <%= search_form_for @search, url: items_search_path, html: { method: :post} do |f| %>
                         <div class="form-group col-sm-12" style="padding: 0; margin: 16px 5px;">
                           <li><%= f.text_field :disk_name_cont, placeholder: '検索キーワード' %><%= f.submit '検索' %></li>
                         </div>
                         </div>
                    <% end %>
                   </ul>

                </div>
               </div>
             </div>
            </div>
          </div>
         </div>
       </div>
    </body>
   </header>

    <% if flash[:notice] %>
      <div class="container">
        <div class="row">
          <div class="alert alert-danger" role="alert">
            <div class="flash">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

      <%= yield %>

  <footer class="footer style-2">
    <div class="container">
      <div class="row">
        <div class="footer-title col-lg-6" style="text-align: left;">
          <h3>俺のCD</h3>
        </div>
          <div class="footer-store-info col-lg-6" style="margin-top: 10px;">
            <p>店舗情報</p>
            <p>0773-22-3456</p>
            <p>〒390-1243 長野県松本市神林5300</p>
            <p style="float: left; margin-right: 150px">Open 7days 10AM-7PM</p>
            <p>CopyRight Orenocd.inc</p>
        </div>
      </div>
    </div>
  </footer>
 </div>
</html>

