<!DOCTYPE html>
<html>
  <head>
    <title>俺のCD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="navbar-header col-sm-6">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                  <%= link_to "俺のCD", items_index_path, class: "title" %>
                </div>
              </div>
              <div class="collapse navbar-collapse clearfix col-sm-6" id="navbarEexample3">
                <ul class="nav navbar-nav">
                  <li><%=link_to "Sign Up", new_user_registration_path %></li>
                  <li><%=link_to "Log In", new_user_session_path %></li>
                </ul>
              </div>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="検索キーワード">
                </div>
                <button type="submit" class="btn btn-default">検索</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>


      <%= yield %>


    <footer class="container well">
      <div class="row">
        <div class="footer-title col-lg-6">
          <h3>俺のCD</h3>
        </div>
        <div class="footer-store-info col-lg-6">
          <p>店舗情報</p><br>
          <p>0773-22-3456</p><br>
          <p>〒390-1243 長野県松本市神林5300</p><br>
          <p>Open 7days 10AM-7PM</p>
        </div>
      </div>
    </footer>

  </body>
</html>

