<!DOCTYPE html>
<html>
  <head>
    <title>俺のCD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="navbar-header col-sm-6">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                  <%= link_to "俺のCD", "/", class: "title" %>
                </div>
              </div>
              <div class="collapse navbar-collapse clearfix col-sm-3" id="navbarEexample3">
                <% if user_signed_in? %>
                  <ul class="nav navbar-nav" style="margin-top:5px;">
                    <li><%= link_to current_user.last_name, user_path(current_user.id) %></li>
                    <li><%= link_to "Cart", "/cart_details/#{current_user.id}" %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%></li>
                  </ul>
                <%else%>
                  <ul class="nav navbar-nav" style="margin-top:5px;">
                    <li><%=link_to "Sign Up", new_user_registration_path %></li>
                    <li><%=link_to "Log In", new_user_session_path %></li>
                  </ul>
                <%end%>
              </div>

              <div class="container">
                <div class="row">
                  <%= search_form_for @search, url: items_search_path, html: { method: :post} do |f| %>
                    <div class="form-group col-sm-1" style="padding: 0; margin: 16px 5px;">
                      <%= f.text_field :disk_name_cont, placeholder:  '検索キーワード' %>
                    </div>
                    
                    <div class="actions col-sm-1" style="padding: 0; margin: 16px 53px;"><%= f.submit '検索' %></div>
                    
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <% if flash[:notice] %>
      <div class="container">
        <div class="row">
          <div class="alert alert-danger" role="alert">
            <div class="flash">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

      <%= yield %>


    <footer class="container well">
      <div class="row">
        <div class="footer-title col-lg-6">
          <h3>俺のCD</h3>
        </div>
        <div class="footer-store-info col-lg-6">
          <p>店舗情報</p><br>
          <p>0773-22-3456</p><br>
          <p>〒390-1243 長野県松本市神林5300</p><br>
          <p>Open 7days 10AM-7PM</p>
        </div>
      </div>
    </footer>

  </body>
</html>

