<body>
  <div class="container">
    <div class="wrapper">


      <h2 class="form_signup" style="text-align: center;">Sign Up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="name-form container">
        <div class="row">
          <h5 class="col-sm-2" style="line-height: 70px;">名前</h5>

          <div class="field col-sm-5">
            <h6>姓</h6>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :size => "60*60" %>
          </div>

          <div class="field col-sm-5">
            <h6>名</h6>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :size => "60*60" %>
          </div>
        </div>
      </div>

      <div class="hurigana-form container">
        <div class="row">
          <h5 class="col-sm-2" style="line-height: 70px;">フリガナ</h5>

          <div class="field col-sm-5">
            <h6>セイ</h6>
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", :size => "60*60" %>
          </div>

          <div class="field col-sm-5">
            <h6>ナ</h6>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", :size => "60*60" %>
          </div>
        </div>
      </div>

      <div class="zip-form container">
        <div class="row">
          <div class="space col-sm-2"></div>
          <div class="field col-sm-5" style="text-align: left;">
            <h6>郵便番号〒(ハイフン不要)</h6>
            <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", :size => "60*60"%>
          </div>
          <div class="space col-sm-5"></div>
        </div>
      </div>

      <div class="address-form container">
        <div class="row">
          <div class="space col-sm-2"></div>
          <div class="field col-sm-5" style="text-align: left;">
            <h6>住所</h6>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", :size => "130*130" %>
          </div>
          <div class="space col-sm-5"></div>
        </div>
      </div>

      <div class="address-form container">
        <div class="row">
          <div class="space col-sm-2"></div>
          <div class="field col-sm-5">
            <h6>電話番号</h6>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :size => "60*60" %>
          </div>
          <div class="space col-sm-5"></div>
        </div>
      </div>

      <div class="email-form container">
        <div class="row">
          <div class="space col-sm-2"></div>
          <div class="field col-sm-5">
            <%= f.label :Eメール %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60*60" %>
          </div>
          <div class="space col-sm-5"></div>
        </div>
      </div>


      <div class="email-form container">
        <div class="row">
          <div class="space col-sm-2"></div>
          <div class="field col-sm-5">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", :size => "60*60" %>
          </div>
          <div class="space col-sm-5"></div>
        </div>
      </div>



      <div class="email-form container">
        <div class="row">
          <div class="space col-sm-2"></div>
          <div class="field col-sm-5">
            <%= f.label :パスワード（確認） %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :size => "60*60" %>
          </div>
          <div class="space col-sm-5"></div>
        </div>
      </div>

      <div class="actions" style="text-align: center; margin: 40px 0;">
        <%= f.submit "新規登録" %>
      </div>
      <% end %>
    </div>
  </div>
</body>
